.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    height: 100vh;
    visibility: hidden;
}
.contact--img {
    position: relative;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-top: auto;
}

.contact--hi {
    background: rgba(0,0,0, 0.5);
    height: 100%;
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply dark:bg-black dark:bg-opacity-70;
}
@supports (backdrop-filter: blur(1rem)){
    .hi--header > span::before {
      backdrop-filter: blur(18px);
    }
  }
.hi--header {
    font-family: var(--font-base);
    color: var(--bg-white);
    letter-spacing: -1px;
    font-size: 3em;
    font-weight: normal;
    @apply dark:text-gray-400;
}
.hi--header > span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.hi--header > span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
    @apply dark:bg-blacker ;
}

.hi--header > span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
    @apply dark:bg-blacker dark:bg-opacity-30 ;
}

.hi--header > span:nth-of-type(1)::before,
.hi--header > span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.hi--header > span:nth-of-type(2)::before,
.hi--header > span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
.hi--desc {
    color: #fefefe;
    font-size: 1.4em;
    font-weight: normal;
    @apply dark:text-gray-300 underline decoration-gray-500 dark:decoration-gray-300 decoration-2 underline-offset-8 ;
    margin-top: 1em;
}


@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
.contact--container {
    width: 100%;
    background: var(--bg-white);
    margin-bottom: auto;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    @apply dark:bg-blacker;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
} 
input {
    background-color: transparent;
    color: var(--color-black-alt);
    padding-bottom: 2rem;
    padding-top: 1.2em;
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
    font-family: var(--font-alt);
    @apply dark:text-gray-400 dark:border-gray-400;
    
}
input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #000;
    color: var(--color-black-alt);
    @apply dark:text-gray-400 dark:bg-blacker dark:border-gray-400;
}
.contact--header{
    padding-top: 1.5rem;
}
.Fa:hover {
    color: var(--color-blue);
}
.contact--details {
    position: relative;
}
.mask--contact {
    position: absolute;
    top: 0 ;
    z-index: 100;
    height: 80%;
    width: 100%;
    background-color: var(--bg-white);
    @apply dark:bg-blacker;
    opacity: 0;
}

.icons--list{
    font-size: 30px;
    margin-top: 1.5rem;
    @apply dark:text-gray-400;
}
/*

@media only screen and (min-width: 750px) {
    .contact--container {
        display: flex;
        gap: 10vw;
    }
    .icons--list{
        position:absolute;
        bottom: 0;
    }
    .contact--details{
        height: 100%;
    }
} */
@media only screen and (min-width: 910px) {
    .contact{
        flex-direction: row;
    }
    .contact--img {
        height: 100vh;
    }
    .contact--container {
        height: 100vh;
        flex-direction: row;
        gap: 45px;
        justify-content: center;
        align-items: center;
    } 
  }  